<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Data: {{ data }}</p>
    <form action="/agendamentos" method="post">
        <label>Hora de Inicio:</label>
        <input type="time" name="hora_inicio" min="08:00" max="17:00" step="3600" required><br>

        <label for="">Hora de Temino:</label>
        <input type="time" name="hora_termino" min="09:00" max="18:00" step="3600" required><br>

        <input type="hidden" name="data_agend" value="{{ data }}"><br>
        <input type="submit" value="ENVIAR">
    </form>
</body>
</html>