<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/processar_formulario" method="post">
        <label for="hora_inicial">Hora Inicial:</label>
        <input type="time" id="hora_inicial" name="hora_inicial"><br><br>
        <label for="hora_final">Hora Final:</label>
        <input type="time" id="hora_final" name="hora_final"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>